<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Carbon.Data.Protection" version="1.4.0" targetFramework="net461" />
  <package id="Carbon.Packaging" version="1.46.0" targetFramework="net461" />
  <package id="Carbon.Storage" version="2.7.0" targetFramework="net461" />
  <package id="Carbon.VersionControl" version="2.4.0" targetFramework="net461" />
  <package id="Carbon.Versioning" version="1.9.0" targetFramework="net461" />
  <package id="coverlet.msbuild" version="2.9.0" targetFramework="net472" developmentDependency="true" />
  <package id="FastMember" version="1.5.0" targetFramework="net472" />
  <package id="GitHub" version="1.31.0" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.0" targetFramework="net461" />
  <package id="Microsoft.CodeCoverage" version="16.7.1" targetFramework="net472" />
  <package id="OpenCover" version="4.7.922" targetFramework="net472" />
  <package id="ReportGenerator" version="4.6.4" targetFramework="net472" />
  <package id="Syncfusion.Compression.Base" version="18.1.0.59" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="18.1.0.59" targetFramework="net472" />
  <package id="Syncfusion.XlsIO.WinForms" version="18.1.0.59" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="5.0.0" targetFramework="net461" />
  <package id="System.Text.Json" version="5.0.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="xunit" version="2.4.1" targetFramework="net472" />
  <package id="xunit.abstractions" version="2.0.3" targetFramework="net472" />
  <package id="xunit.analyzers" version="0.10.0" targetFramework="net472" />
  <package id="xunit.assert" version="2.4.1" targetFramework="net472" />
  <package id="xunit.core" version="2.4.1" targetFramework="net472" />
  <package id="xunit.extensibility.core" version="2.4.1" targetFramework="net472" />
  <package id="xunit.extensibility.execution" version="2.4.1" targetFramework="net472" />
  <package id="xunit.runner.console" version="2.4.1" targetFramework="net472" developmentDependency="true" />
</packages>